/*yixin*/
/*入驻头部*/
.center-head-con {
    height: 90px;
}

.enter-nav-btn{
    float: left;
    margin-left: 45px;
    line-height: 90px;
    font-size: 16px;
    color: #323232;
}

.enter-nav-btn:hover{
    color: #35d198;
}

.enter-nav-btn.check{
    color: #35d198;
    background: url("../img/enter/navline.png") center 65px no-repeat;
}

/*入驻首页*/
.enter-banner{
    position: relative;
    height: 400px;
    overflow: hidden;
}
.enter-img{
    width: 1920px;
    height: 400px;
    text-align: center;
}
.enter-mid{
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -600px;
    width: 1200px;
    height: 340px;
    background-color: #fff;
}
.enter-login{
    float: left;
    width: 280px;
    height: 340px;
    padding: 0 20px;
    text-align: center;
    background-color: #424242;
}
.enter-logo{
    width: 120px;
    height: 120px;
    margin: 24px auto 0;
    border-radius: 100%;
    overflow: hidden;
}
.enter-logo img{
    width: 100%;
    height: 100%;
}
.enter-login-btn{
    display: block;
    width: 110px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    color: #fffefe;
    font-size: 20px;
    font-weight: bold;
    background-color: #35d198;
}
.enter-login-hint{
    line-height: 60px;
    color: #fffefe;
}
.enter-login-name{
    height: 45px;
    line-height: 40px;
    margin-bottom: 10px;
    color: #fffefe;
    border-bottom: 1px dashed #fefefe;
}

.enter-hint{
    line-height: 20px;
    text-align: left;
    text-indent: 16px;
    color: #fffefe;
}

.enter-hint span{
    color: #e60012;
}

.enter-do-btn{
    display: inline-block;
    width: 76px;
    height: 30px;
    line-height: 30px;
    margin: 10px;
    color: #fff;
    background-color: #35d198;
}

/*huangwei*/
/*生成的表格*/
.center-bg {
    background-color: #f5f5f5;
    padding-top: 20px;
}
.table-wrap table,.table-wrap td{
	border:2px solid #131313;
	border-collapse:collapse;
}
.table-wrap table{
	table-layout:fixed;
	word-break:break-all;
}
.table-wrap td{
	font-size: 20px;
	color: #000;
	text-align: center;
	height: 52px;
}
.table-wrap{
	background: #fff;
}
.statusBar{
	padding-top: 30px;
	margin-bottom: 20px;
}
.statusBar img{
	display: block;
	margin: 0 auto;
}
.table-title{
	font-size: 24px;
	font-weight: normal;
	color: #000000;
	height: 54px;
	line-height: 54px;
	text-align: center;
}

.apply-talbe{
	width: 936px;
	margin: 0 auto;
	/*margin-left: 0;*/
}
.tb-sellertype{
	display: inline-block;
	margin-left: 18px;
}
.tb-membertype{
	display: block;
}
.tb-cert{
	text-align: left;
	text-indent: 12px;
	line-height: 36px;
	display: block;
}
.cost{
	font-size: 18px;
	text-align: left;
	margin-top: 10px;
}
.cost-note{
	font-size: 18px;
	text-align: left;
	margin-bottom: 10px;
}
.ml{
	margin-left: 4px;
}
.guarantee{
	text-align: left;
	text-indent: 2em;
	margin-top: 8px;
	margin-bottom: 54px;
}
.sign{
	text-align: left;
	text-indent: 600px;
	margin-bottom: 16px;
}
.print-wrap{
	padding: 16px 0;
	background: #fff;
}
.print{
	float: right;
	color: #333;
	text-align: center;
	width: 76px;
	height: 30px;
	line-height: 30px;
	margin-right: 132px;
	cursor: pointer;
	border: 1px solid #dbdbdb;
	border-radius: 2px;
	outline: none;
	background: #f5f5f5;
}
.prev-next{
	padding-top: 30px;
	padding-bottom: 70px;
	text-align: center;
}
.prev-next-btn{
	font-size: 20px;
	color: #e60012;
	text-align: center;
	display: inline-block;
	width: 108px;
	height: 40px;
	line-height: 38px;
	border: 1px solid #e60012;
	border-radius: 4px;
}
.prev-next-btn:hover{
	color: #fff;
	background: #e60012;
}
.prev-step{
	margin-right: 64px;
}
.next-step{
	
}
/*入驻申请资料填写*/
.sellerAppication{
	width: 1070px;
	margin: 0 auto;
}
.statusBar{
	height: 100px;
	overflow: hidden;
}
.statusNow{
	display: block;
	margin: 30px auto;
}
.pageTitle{
	font-size: 16px;
	font-weight: normal;
	color: #000000;
	height: 50px;
	line-height: 50px;
	background: #fff;
}
.submit-contents{
	margin-top: 12px;
	padding-top: 2px;
	/*padding-left: 36px;
	padding-right: 36px;*/
	padding-left: 60px;
	padding-right: 60px;
	background: #fff;
}
.submit-inner{
	
}
.submit-top{
	overflow: hidden;
	padding-bottom: 36px;
	border-bottom: 1px dashed #dbdbdb;
}
.submit-items{
	margin-top: 20px;
}
.qysx-item{
	position: relative;
}
.submit-label{
	display: inline-block;
	font-size: 14px;
	text-align: right;
	color: #333;
	width: 124px;
}
.submit-label span{
	color: #ff0000;
}
.submit-input{
	/*width: 311px;*/
	width: 480px;
	height: 34px;
	text-indent: 14px;
}
.sellertype-item{
	display: inline-block;
	margin-left: 80px;
}
.first-item{
	margin-left: 16px;
}
.yewu-label,.zizhi-label{
	vertical-align: top;
}
.yewu{
	/*width: 756px;*/
	width: 480px;
	height: 100px;
	resize: none;
}
.certificate-item{
	margin-left: 18px;
}
.certificate-photos{
	margin-top: 35px;
}
.photos-wrap{
	margin-left: 150px;
	width: 760px;
}
.certificate-photo{
	display: inline-block; 
	width: 100px;
	height: 100px;
}
.fancybox{
	margin-right: 8px;
}
.fancybox:last-of-type{
	margin-right: 30px;
}
.inputFile{
	display: none;
}
.add-photo{
	width: 100px;
	height: 100px;
	cursor: pointer;
	/*margin-left: 30px;*/
	border: none;
	outline: none;
	background: #fff url(../img/enter/add-picture.png) no-repeat left top;
}
.submit-bottom{
	padding-bottom: 134px;
	width: 762px;
	/*margin-left: 128px;*/
	margin-left: 100px;
}
.submit-subtitle{
	height: 40px;
	line-height: 40px;
}
.submit-text{
	line-height: 24px;
}
.add-server{
	display: block;
	margin-top:4px;
}
.submit-text1{
	margin-top: 20px;
}
.submitBtn-part{
	height: 140px;
	padding-top: 30px;
	background: #f5f5f5;
}
.submit-btn{
	display: block;
	font-size: 20px;
	color: #fff;
	height: 40px;
	cursor: pointer;
	margin: 0 auto;
	padding-left: 32px;
	padding-right: 32px;
	border: none;
	outline: none;
	border-radius: 2px;
	background: #e60012;
}
.container-bg-color{
	background-color:#fff ;
}
.optional-item{
	display: none;
}
.seller-information label.error{
	display: inline-block;
	color: #E60012;
	padding-left: 24px;
	height: 36px;
	line-height: 36px;
	width: 200px;
	margin-left: 20px;
	background: url(../img/enter/icon_cuowu.png) no-repeat left center;
}
.seller-information label.error{
	vertical-align:top;
}
.qysx-item label.error{
	color: #E60012;
	padding-left: 24px;
	height: auto;
	line-height: 16px;
	width: 200px;
	background: url(../img/enter/icon_cuowu.png) no-repeat left center;
	position: absolute;
	top:0px;
	left: 608px;
}
.submit-items-chandi label.error{
	display: inline-block;
	color: #E60012;
	padding-left: 24px;
	height: auto;
	line-height: 16px;
	width: 150px;
	margin-left: 20px;
	background: url(../img/enter/icon_cuowu.png) no-repeat left center;
	vertical-align: middle;
}

/*上传附件照片*/
.addPictureTitle{
	border-bottom: 1px solid #E6E6E6;
}
.addPictureTitleText{
	font-size: 16px;
	color: #fff;
	text-align: center;
	width: 120px;
	height: 40px;
	line-height: 40px;
	margin-left: 64px;
	background: #35d198;
	
}
.picture-part{
	
}
.picture-wrap{
	padding: 0 64px;
}
.picture-notice{
	font-size: 14px;
	color: #333;
	height: 36px;
	line-height: 44px;
}
.picture-items{
	padding: 0 20px;
}
.picture-item{
	float: left;
	width: 344px;
	height: 258px;
	padding-top: 26px;
	position: relative;
}
.picture-img{
	display: block;
	width: 240px;
	height: 150px;
	margin: 0 auto;
}
.picture-text{
	font-size: 14px;
	color: #333;
	text-align: center;
	margin-top: 30px;
}
.picture-close{
	width: 14px;
	height: 14px;
	background: url(../img/enter/delete.png) no-repeat left top;
	position: absolute;
	right: 60px;
	top: 30px;
	cursor: pointer;
}

.sheet-item{
	margin: 0 344px;
}

.sheet-upload{
	position: relative;
	width: 240px;
	height: 150px;
	margin: 0 auto;
	background: url("../img/enter/img_mask.png");
	background-size: 100% 100%;
	cursor: pointer;
}

.sheet-upload input{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 0;
	cursor: pointer;
}

.overlay-big {
	line-height: 30px;
	margin-top: 60px;
	font-size: 20px;
	text-align: center;
}

.overlay-small{
	margin-bottom: 40px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
}

/*入驻申请审核中*/
.review-info {
	padding: 180px 0;
	margin-bottom: 80px;
	font-size: 24px;
	color: #4c4c4c;
	text-align: center;
	background: url("../img/enter/under-review.png") center 60px no-repeat;
}
.review-fail{
	width: 1200px;
	margin: 100px auto;
	padding: 100px 0;
	text-align: center;
	background: url("../img/regist/fail.png") center top no-repeat;
}

.review-prosit {
	line-height: 60px;
	font-size: 24px;
	color: #4c4c4c;
}

.review-reason {
	margin-bottom: 30px;
	line-height: 20px;
	font-size: 24px;
	color: #4c4c4c;
}

.review-back {
	display: block;
	width: 200px;
	height: 45px;
	line-height: 45px;
	margin: 0 auto;
	font-size: 20px;
	color: #fff;
	text-align: center;
	background-color: #e60012;
}